node_modules
.env
.dep
coverage
coverage.json
typechain
typechain-types
.vscode
#Hardhat files
cache
artifacts
# Subgraph
tribe3-perp-subgraph/generated
tribe3-perp-subgraph/build
# Matchstick
tribe3-perp-subgraph/tests/.*
