{
    "arrowParens": "always",
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 150,
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 150,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": true,
          "explicitTypes": "always"
        }
      }
    ]
  }